# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GrpcServer.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\pet\New folder\GrpcServer\.idea\.idea.GrpcServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
